:root
{
    --theme-color: rgba(29, 155, 240);
    --theme-color-op1: rgba(29, 155, 240,0.15);
    --grey-color: rgba(113,118,123);
    --grey-color-op1: rgba(113,118,123,0.25);

    --review-color: rgba(29, 155, 240);
    --review-color-op1: rgba(29, 155, 240,0.15);

    --like-color: rgba(234,17,121);
    --like-color-op1: rgba(234,17,121,0.15);

    --retweet-color: rgba(0,185,124);
    --retweet-color-op1: rgba(0,185,124,0.15);
}
::-webkit-scrollbar
{
    width: 0;
}
::selection
{
    background-color: var(--theme-color);
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    border: 0;
    outline: 0;
}
p
{
    margin: 0 !important;
}
.grey-color
{
    color: var(--grey-color) !important;
}
hr
{
    margin: 0.7rem 0 !important;
}
.stop-scroll
{
    overflow: hidden;
}
[data-bs-theme="dark"]
{
    --bs-body-bg:#000000 !important;
}
.main
{
    display: flex !important;
    width: 100%;
    height: 100%;
    position: relative;
}
.blur-bg
{
    min-width: 100%;
    min-height: 100vh;
    backdrop-filter: blur(8px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 200;
    pointer-events: none;
    opacity: 0;
    transition: 0.45s;
}
.blur-bg-active
{
    opacity: 1;
    pointer-events: fill;
}
.post
{
    position: fixed;
    width: 580px;
    height: fit-content;
    background-color:black;
    border-radius: 20px;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.6);
    z-index: 300;
    opacity: 0;
    pointer-events: none;
    transition: 0.65s;
    border: 1px solid rgba(255,255,255,0.15);
    box-shadow: 0 0 5px black;
    padding: 10px 14px;
    padding-bottom: 12px;
    overflow: hidden;
    user-select: none;
}
.postActive
{
    opacity: 1;
    pointer-events: fill;
    transform: translate(-50%,-50%) scale(1);
    top: 40%;
    left: 50%;
}
.post header
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}
.post header h1
{
    font-size: 1.6rem;
}
.post header button
{
    background-color: transparent;
    font-weight: bold;
    padding: 0;
    border: 0;
    outline: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: 0.35s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.post-center
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.post header button:hover
{
    background-color: rgba(255,255,255,0.1);
}
.page-detail-header
{
    width: 620px;
    min-height: 50px;
    backdrop-filter: blur(12px);
    background-color: rgba(0,0,0,0.65);
    border-right: 2px solid rgba(255,255,255,0.2);
    border-left: 2px solid rgba(255,255,255,0.2);
    border-bottom: 3px solid rgba(255,255,255,0.2);
    position: sticky;
    top: 10px;
    left: 50%;
    transform: translate(0,-20%);
    z-index: 100;
    padding: 10px;
    user-select: none;
    overflow: hidden;
    cursor: pointer;
}
.page-detail-header h2
{
    font-size: 1.3rem;
    margin: 3px !important;
}
.card
{
    width: 100%;
    padding: 8px;
    padding-bottom: 5px;
    border-radius: 12px !important;
    display: flex !important;
    flex-direction: row !important;
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
    background-color: transparent !important;
}
.post .inputBx,
.card .inputBx
{
    width: 100%;
    height: fit-content;
}
.textareaActive
{
    height: 160px !important;
}
.post .inputBx textarea,
.card .inputBx textarea
{
    width: 100%;
    height: 0;
    max-height: 500px;
    background-color: transparent;
    font-size: 1.3rem;
    border: 0;
    outline: 0;
    transition: 0.7s;
    resize: none;
}
.card .inputBx textarea
{
    height: 100px;
}
.card form
{
    width: 100%;
}
.form-card
{
    cursor: default !important;
}
.post footer,
.card footer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post footer .file,
.card footer .file
{
    color: var(--theme-color);
    border-radius: 100%;
    border: none;
    outline: none;
    transition: 0.3s;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.post footer .file:hover,
.card footer .file:hover
{
    background-color: var(--theme-color-op1);
}
.file_upload
{
    display: none;
}
.blogContainer
{
    background-color: rgba(0,0,0,0.4);
    border-right: 2px solid rgba(255,255,255,0.2);
    border-left: 2px solid rgba(255,255,255,0.2);
<<<<<<< HEAD
    width: 620px !important;
    min-height: 100vh;
=======
    width: 680px !important;
    min-height: 140vh;
>>>>>>> 1a2dc4c29dc69b83864711bea111e384d6f0d513
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 6px !important;
    margin: 0 !important;
}
.blogContainer .details:last-child
{
    margin-bottom: 25px;
}
.details
{
    width: 100%;
    background-color: transparent;
}
.card-profile-side
{
    width: 65px;
    height: 100%;
}
.card-profile-side img
{
    width: 84%;
    border-radius: 50%;
    transition: 0.35s;
}
.card-profile-side img:hover
{
    scale: 1.08;
}
.card-profile-side img:active
{
    scale: 0.98;
}
.card-inf
{
    width: 100%;
}
.card-body
{
    padding: 0 !important;
}
.card-detail
{
    display: flex;
    justify-content: space-between;
    width: 100%;
<<<<<<< HEAD
    height: 30px;
=======
    height: 28px;
>>>>>>> 1a2dc4c29dc69b83864711bea111e384d6f0d513
}
.card-owner
{
    display: flex;
    gap: 5px;
}
.options
{
    position: relative;
}
.card-detail .options .open
{
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 1rem;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    transition: 0.25s;
}
.card-detail .options .open:hover
{
    color: var(--theme-color);
    background-color: var(--theme-color-op1);
}
.options .option-menu
{
    background-color:#0e0f11;
    opacity: 1;
    height: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 400;
    transition: 0.35s;
    font-size: 0.95rem;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 2px 15px black;
}
.option-menu-active
{
    height: 102px !important;
}
.option-menu button
{
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 8px 10px;
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
    transition: 0.25s;
}
.option-menu button i
{
    width: 20px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 1.3;
}
.option-menu button:hover
{
    background-color: rgba(255,255,255,0.1);
}
.option-menu .delete:hover
{
    background-color: red;
}
.option-menu .edit:hover
{
    background-color: var(--theme-color);
}
.file-box
{
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 5px 0;
}
.card-img-bottom
{
    margin-top: 10px;
    border-radius: 12px !important;
    transition: 0.3s;
    width: max-content !important;
    max-width: 100%;
    min-height: 300px;
    max-height: 500px;
    object-fit: cover;
}
.card-img-bottom:hover
{
    scale: 1.01;
}
.card-img-bottom:active
{
    scale: 0.97;
}
.card-img-bottom-bg
{
    margin-top: 5px;
    border-radius: 12px !important;
    transition: 0.3s;
    width: max-content !important;
    max-width: 100%;
    min-height: 300px;
    max-height: 500px;
    object-fit: cover;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    z-index: -1;
    filter: blur(30px) brightness(1.5);
}
.card:hover
{
    background-color: rgba(255,255,255,0.05);
}
.profile-card:hover
{
    background-color: transparent;
}
.card-owner .card-title,
.card-owner .card-title-link
{
    position: relative;
    cursor: pointer;
    margin: 0 !important;
<<<<<<< HEAD
    transition: 0.15s;
    text-decoration: none;
    color: white !important;
    height: fit-content;
=======
>>>>>>> 1a2dc4c29dc69b83864711bea111e384d6f0d513
}
.card-title-link::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: white;
    transition: 0.2s;
}
.card-title-link:hover:after
{
    width: 100%;
}
.card-title-link:active:after
{
    width: 100%;
}
.card-title-link:active
{
    transform: scale(0.975);
}
.userContainerFix
{
<<<<<<< HEAD
    width: 32.5%;
=======
    width: 28%;
>>>>>>> 1a2dc4c29dc69b83864711bea111e384d6f0d513
    display: flex;
    justify-content: end;
    padding-right: 10px;
}
.userContainer
{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    padding: 5px 10px;
    width: 260px;
    position: fixed;
}
.userButtons
{
    border-radius: 100px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    width: 100%;
}
.userButtons:hover .userBtnsBg
{
    background-color: rgba(255,255,255,0.1);
}
.userBtnsBg
{
    width: fit-content;
    padding: 10px 20px;
    border-radius: 100px;
    text-decoration: none;
    transition: 0.3s;
    display: flex;
    gap: 18px;
    align-items: center;
    font-size: 1.35rem;
}
.userButtons .logo
{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
}
.userButtons .logo img
{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userBtnsBg i
{
    width: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active-menu
{
    font-weight: bold;
}
.send
{
    background-color: rgb(29, 155, 240);
    color: white;
    border-radius: 100px;
    border: none;
    outline: none;
    transition: 0.3s;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.send:hover
{
    background-color: rgb(29, 155, 240,0.86);
}
.userContainer .send
{
    width: 100%;
    margin: 10px 0;
    padding: 15px 20px;
    font-size: 1.1rem;
}
.card-owner .card-text .username
{
    position: relative;
    text-decoration: none;
    padding: 5px 0;
}
.card-owner .card-text .username::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--grey-color);
    transition: 0.2s;
    border-radius: 100px;
}
.card-owner .card-text .username:hover:after
{
    width: 100%;
}
.card-owner .card-text .username:active:after
{
    width: 100%;
}
.blog-text
{
    color: rgba(255,255,255,0.82);
    user-select: text;
}
.userProfiles
{
    border-radius: 100px;
    position: fixed;
    margin-top: 30px;
    bottom: 1%;
    width: 240px;
}
.myprofile
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
}
.userProfileCon
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    width: 100%;
    background-color: black !important;
    transition: 0.35s;
}
.userProfileCon:hover
{
    background-color: rgba(255,255,255,0.1) !important;
}
.myprofileContainer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.myprofileDetail
{
    display: flex;
    gap: 6px;
    align-items: center;
    text-align: start;
    width: 100%;
}
.myprofileDetail img
{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.myprofileDetail h4
{
    font-size: 1rem;
    margin: 0;
}
.myprofileDetail p
{
    font-size: 0.9rem;
    margin: 0;
}
.myprofileDetail .nameBox
{
    display: flex;
    flex-direction: column;
}
.userprofilesContainer
{
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%,-60%);
    border-radius: 20px;
    background-color: black;
    width: 260px;
    pointer-events: none;
    opacity: 0;
    transition: 0.25s;
}
.userprofilesContainer-active
{
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%,-80%);
}
.userprofileBtns
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(255,255,255,0.8);
}
.userprofileBtns button
{
    width: 100%;
    height: 100%;
    background-color: black;
    transition: 0.25s;
    padding: 8px 12px;
}
.userprofileBtns button:hover
{
    background-color: rgba(255,255,255,0.1);
}
.userprofilesContainer .triangle
{
    rotate: 180deg;
    position: absolute;
    bottom: -8%;
    left: 45%;
    transform: translate(-45%,-48%);
    color: black;
    border-bottom: 12px solid rgba(58,58,58);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
<<<<<<< HEAD
}
.content-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-header .side-left
{
    display: flex;
    align-items: center;
    gap: 15px;
}
.content-header .side-right
{
    display: flex;
    align-items: center;
    gap: 10px;
    transform: translateY(60px);
    transition: 0.4s;
}
.content-header .content-right-active
{
    transform: translateY(0);
}
.content-header .side-right img
{
    width: 42px;
    height: 42px;
}
.content-header h2
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
    font-size: 1.3rem;
}
.content-header h2 span
{
    font-size: 0.9rem;
    color: var(--grey-color);
}
.content-header .back-btn
{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: transparent;
    transition: 0.15s;
}
.content-header .back-btn:hover
{
    background-color: rgba(255,255,255,0.1);
}
.normal-btn
{
    padding: 6px 16px;
    background-color: transparent;
    border: 1px solid var(--grey-color);
    font-size: 1rem;
    font-weight: bold;
    transition: 0.2s;
    border-radius: 100px;
}
.normal-btn:hover
{
    background-color: var(--grey-color-op1);
}
.card-extensions
{
    background-color: transparent;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
.card-extensions .do-ext
{
    color: var(--grey-color);
    display: flex;
    gap: 5px;
    align-items: center;
}
.card-extensions .do-ext span
{
    transition: 0.2s;
}
.card-extensions .do-ext i
{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.2s;
}

.card-extensions .reviews:hover span
{
    color: var(--review-color);
}
.card-extensions .reviews:hover i
{
    color: var(--review-color);
    background-color: var(--review-color-op1);
}

.card-extensions .like:hover span
{
    color: var(--like-color);
}
.card-extensions .like:hover i
{
    color: var(--like-color);
    background-color: var(--like-color-op1);
}

.card-extensions .retweet:hover span
{
    color: var(--retweet-color);
}
.card-extensions .retweet:hover i
{
    color: var(--retweet-color);
    background-color: var(--retweet-color-op1);
=======
>>>>>>> 1a2dc4c29dc69b83864711bea111e384d6f0d513
}